html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffd1dc;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    text-align: center;
    background-color: black;
    color: #ffd1dc;
}
.navbar{
    text-align: center;
}
